.centeredtext {
  height: 65vh;
  display: flex;
  justify-content: center; 
  align-items: center;     
  text-align: center;
  color: white; 
 
  
}

.centeredtext h1{
     font-size: 90px;
     font-weight: 1;
     
}